<mat-card>
    <mat-card-title>Sign Up</mat-card-title>
    <mat-card-content>
        <form [formGroup]="myForm" (ngSubmit)="submitForm()" novalidate>
            <mat-form-field class="example-full-width">
                <input matInput type="email" placeholder="Email" (keyup)="onChangeEmail($event,myFormControl.email.value)" formControlName="email" autocomplete="off">
        
                <!--Error-->
                
                 <mat-error *ngIf="myFormControl.email.touched && !myFormControl.email.valid">
                    You must provide valid email
                 </mat-error>
                 

              </mat-form-field>
              <span *ngIf="isAvailableEmail">
                Email Address is available
             </span>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="First Name" formControlName="fname" autocomplete="off">
        
              <!--Error-->
              <mat-error>
                You must provide a First Name
             </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Last Name" formControlName="lname" autocomplete="off">
        
                 <!--Error-->
              <mat-error>
                You must provide a Last Name
             </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput type="password" placeholder="Password" formControlName="password">
        
                 <!--Error-->
              <mat-error>
                You must provide a Password
             </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Address" formControlName="address" autocomplete="off">
        
                 <!--Error-->
              <mat-error>
                You must provide a Address
             </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput readonly [matDatepicker]="picker" placeholder="Date of birth" formControlName="dob"
                >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
        
                 <!--Error-->
              <mat-error>
                You must provide a Birthdate
             </mat-error>
              </mat-form-field>
        
              <div class="button-wrapper">
                <button mat-flat-button [disabled]="!myForm.valid" color="primary">Sign Up</button>
              </div>
          </form>
    </mat-card-content>
</mat-card>